body {
background-color: darkgrey;
margin: 0px auto;
}
div#navigraph button {
position:absolute;
bottom:0;
}
span {
color:black;
margin:0px;
margin-bottom:10px;
width:30px;
}
button {
height:40px;
width:40px;
border-radius:5px;
background-color:white;
}
button:hover {
background-color:#FFFADB;
color:red;
}
input {
background-color:lightgreen;
border-radius:5px;
margin-bottom:10px;
width:312px;
font-size:20px;
text-align:right;
}
div {
padding:10px;
margin-left:12px;
}
#rezultat {
margin-left:5px;
width:50px;
text-align:right;	
}
#graphcontainer, #graph {
margin:0;	
}
#graph {
display:block;
width:300px;
height:300px;
background-color:white;
background-image:url('../images/Graph-paper.png');
background-position:center;
background-size:135% auto;

}
#graphcontainer {
display:none;
position:absolute;
left:0;
top:100;
}
